<?xml version="1.0" encoding="UTF-8"?>

<agenda>

	<appointment>
		<name>Anno 2070</name>
		<nameConvention>anno2070</nameConvention>
		<repetitive>weekly</repetitive>
		<weekDay>Monday</weekDay>
	</appintment>
	
	<appointment>
		<name>Battlefield 3</name>
		<nameConvention>battlefield3</nameConvention>
		<repetitive>weekly</repetitive>
		<weekDay>Thursday</weekDay>
	</appointment>
	
	<appointment>
		<name>Besprechung</name>
		<nameConvention>besprechung</nameConvention>
		<repetitive>monthly</repetitive>
		<weekDay>Monday</weekDay>
	</appointment>
	
</agenda>