* {
	margin: 0;
	padding: 0;
}

body {
	/* background-image:url('../images/bg_body.png'); */
	background-color: #dbdbdb;
	margin: auto auto;
	padding: 0px;
	height: 100%;
}


/* --- BEGIN OF Responsive Style Declarations --- */

@media only screen and (max-width: 1000px) {
            body {
                width: auto !important;
                height: 100% !important;
            }
            iframe[class=embed] {
            	margin: 80px 0px 0px 0px !important;
            }
            span[class=NavPoint] {
				margin: 12px 0px auto 25px !important;            	
            	height: 42px !important;
            }
            div[class=back] {
            	position: absolute !important;
            	margin: -30px 0px 0px 5px !important;
            }
            div[class=LPLargeHeadline] {
            	position: absolute !important;
            	margin: -40px 0px 0px 35px !important;
            }
            div[class=menue] {display: none !important;}
            div[class=contentWrapper] {
            	width: 100% !important; 
            	margin-top: 0px !important;
            }
            div[class=content] {
            	background-image: none !important;
            	width: 100% !important;
            	margin: 0px 0px 0px 0px !important;
            	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
            }
            div[class=right] {display: none !important;}
            div[class=sektion] {display: none !important;}
            div[class=mobileHead] {
            	display: block !important;
            	z-index: 1 !important;
            }
            div[class=PostPost] { 
            	width: 98% !important;
            	font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
            	font-size: 24px !important;
            	line-height: 32px !important;
            	height: auto !important;
            	min-height: 100% !important;
            }
            div[class=PostTitle] {
            	display: none !important;
            }
            div[class=disclaimerBottomRight] {
            	font-size: 18px !important;
            	margin: 0px 0px 0px -40px !important;
            }
            .smallHeadline {
            	font-size: 28px !important;
            	padding-top: 0px !important;
            	line-height: 32px;
            	text-align: left !important;
            }
            span[class=title] {
            	font-size: 40px !important;
            	z-index: 2 !important;
            	margin: 30px 0px 0px 0px !important;
            	display: block !important;
            }
            span[class=subtitle] {
            	font-size: 20px !important;
            	width: 100% !important;
            	margin: -20px 0px 0px 0px !important;
            	z-index: 2 !important;
            	display: block !important;
            }
            span[class=LPContent] {
            	display: block !important;
            	padding: 0px 0px 0px 180px !important;
            	margin: -10px 0px 0px 0px;
            }
            span[class=SCContent] {
            	display: block !important;
            	padding: 20px 0px 0px 180px !important;
            	margin: 0px 0px 0px 0px;
            }
            span[class=LPHeadline] {
            	display: inline-block;
            	margin-top: 5px !important;
            	padding: 0px 0px 0px 10px !important;
            	font-size: 24px !important;
            	font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
            	width: 300px !important;
            }
            div[class=LPHeadline] {
            	width: 50% !important;
            	font-size: 20px !important;
            	overflow: hidden !important;
            	text-overflow: ellipsis !important;
            	white-space: nowrap !important;
            	margin: -5px 0px 0px 0px !important;
  				padding-right: 10px !important;         	
            	padding-left: 205px !important;
            	position: absolute;
            	float: left !important;
            }
            span[class=LPDate] {
            	display: inline-block !important;
            	font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
            	font-size: 20px !important; 
            	padding: 0px 0px 0px 0px !important;
            	margin: -10px 0px 0px 0px !important;
            	line-height: 24px;
            }
            div[class=mobileText] {
            	width: 100%;
            	display: block !important;
            	color: #fff;
            	position: absolute;
            	margin-top: 50px;
            }
            div[class=mobileHintergrundbild] {
            	width: 100% !important;
            	height: 150px !important;        	
            	overflow: hidden !important;
            	padding-top: 60px !important;
            	position: absolute !important;
            	z-index: 0 !important;
            }
            div[class=mobileSektion] {
            	display: block !important;
            }
            .embed {
            	width: 100% !important;

            }
            div[class=LPDescription] {
            	font-size: 24px !important;
            	overflow: hidden !important;
            	width: 95% !important;
            }
            div[class=LPBox] {
            	width: 99% !important;
            	display: block !important;
            	height: 167px !important;
            	clear: both !important;
            	padding: 0px !important;
            }
            div[class=LPContentLatestVideo] {
            	overflow: hidden !important;
            	margin: -8px 0px 0px 205px !important;
            	position: absolute !important;
            	width: 50% !important;
            	font-size: 17px !important;
            	line-height: 22px !important
            }
			img[class=mobileHeadIcon] {
			 	float: left; 
			 	margin: 6px 0px 0px 0px;
			}
			div[class=imageWrapper] {
				width: 100% !important;
				height: auto !important;
			}
			div[class=FlickrSubText] {
				width: 98% !important;
				font-size: 26px !important;
				line-height: 30px !important;
			}
			div[class=ScreenshotContent] {
				width: 98% !important;
			}
			img[class=FlickrImage] {
				width: 100% !important;
				height: auto !important;
			}
			div[class=LpSsMobileHeadline] {
				display: block !important;
				margin: 0px 0px 0px -30px !important;
			}
			p[class=ImageInfoText] {
				font-size: 24px !important;
				line-height: 28px !important;
				height: 60px !important;
			}
            div[class=whereAmI] {
            	display: inline-block !important;
            	position: fixed !important;
            	width: 200px !important;
            	margin: -45px 0px 0px 65px;
            	z-index: 2 !important;
            	font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
            	font-size: 22px !important;
            	color: #fff;
            	vertical-align: middle !important;
            	height: 58px !important;
            }
            div[class=newsFeedContent] {
            	font-size: 24px !important;
            	line-height: 30px !important;
            	padding: 230px 0px 10px 0px !important;
            }
            div[class=contentBox] {
            	width: 250px !important;
            	margin: 0px 0px 0px 10px !important;
            	background-image: none !important; 
            }
            div[class=LPSubHeadline] {
            	font-size: 36px !important;
            }
            span[class=smallHeadlineNews] {
            	font-size: 28px !important;
            	line-height: 36px !important;
            }
            img[class=LetsPlayThumb] {
            	padding: 0px !important;
            	margin: 0px !important;
            }
            img[class=resize] {
            	width: 200% !important;
            	height: auto !important;
            	margin: 0px 0px 0px -100px !important;
            	display: block !important;
            }
            img[class=newsImage] {
            	width: 98% !important;
            	height: 150px !important;
            	margin: -235px 0px 0px -5px;
            }
            .mobileResize50per {
   				width: 50% !important;         	
            }
            .mobileResize100per {
            	width: 100% !important;
            }
            .imageWrapper:hover .ImageInfo {
				height: 60px !important;
				z-index: 100 !important;
			}
            div[class=maniaDescription] {
            	font-size: 22px !important;
            	line-height: 28px !important;
            }

			.mobileHidden {
				display: none !important;
			}
			td[class=maniaHoFTop] {
				font-size: 20px !important;
			}
			td[class=maniaHoFDefault] {
				font-size: 20px !important;
			}
            table[class=memberlist] {
            	width: 98% !important;
            	font-size: 16px !important;
            }
            ol {
            	list-style-type: decimal !important;
            	padding: 0px !important;
            	margin: 0px 5px 0px 40px !important;
            }
			/* Styles für die Newsseite, deren Inhalt aus der Datenbank kommt */

			.SqlNewsBox {
				width: 99% !important;
				margin: 20px 0px 0px 0px !important;
			}

			.SqlNewsThumbnail {
				float: left !important;
				margin: 0px 0px 0px 0px !important;
			}

			.SqlNewsHeadline {
				padding: 5px 0px 0px 155px;
				width: auto !important;
				font-size: 22px !important;
			}

			.SqlNewsDate {
				display: none !important;
			}

			.SqlNewsSnippet {
				width: auto !important;
				font-size: 20px !important;
				line-height: 24px !important;
				height: 98px !important;
				margin: 5px 0px 0px 0px !important;
			}

			.FlickrImage:hover {
				z-index: 100 !important;
				-webkit-transform: none !important;
			    transform: none !important;
			}

			.SqlNewsReadMore {
				font-size: 15px !important;
				margin: -10px 0px 0px 160px !important;
			}

			.SqlArticleHeadImage {
				width: 98% !important;
				margin: 5px 5px 0px 5px !important;
				z-index: 0;
			}

			.SqlArticleBack {
				float: left;
				margin: 5px 10px 0px 5px;
				border: none;
			}

			.SqlArticleHeadline {
				font-size: 26px;
				font-family: 'Roboto', Arial, Helvetica, sans-serif;
				text-align: left;
				margin-left: 5px;
				display: block;
				margin: 0px 0px 0px 40px;
			}

			.SqlArticleDate {
				display: none !important;
			}

			.SqlArticleContent {
				display: block;
				font-size: 22px !important;
				font-family: 'Roboto', Arial, Helvetica, sans-serif;
				text-align: justify;
				margin: 10px 40px 0px 40px;
			}

			.SqlArticleContent iframe {
				width: 98% !important;
			}

			.forumContent {
				width: 100% !important;
				margin: 0px !important;
			}

			.ScreenshotHeadline {
				margin: 10px 0px 0px 10px !important;
				font-size: 34px !important;
				position: absolute;
			}

			.ArchiveYear, .ArchiveMonth, .ArchiveSubmit {
				padding: 20px !important;
				margin: 20px 0px -30px 0px;
			}

			.navigation {
				font-size: 24px;
			}

			.SPDate {
				padding: 10px 0px 0px 0px;
            	display: inline-block !important;
            	font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
            	font-size: 20px !important;
            	line-height: 24px;
			}

			#disqus_thread {
				margin-right: 30px; 
				margin-left: 30px;
			}

			.navigationS {
				font-size: 13px !important;
			}

			.AddNews {
				bottom: 0 !important;
				right: 0 !important;
				margin: 0px 10px 20px 0px !important;
				position: fixed !important;
				z-index: 10 !important;
				width: 100px !important;
				height: 100px !important;
				font-size: 96px !important;
			}

			.AddNews a {
				margin: -3px 0px 0px -27px !important;
			}

			.SqlArticleGame {
				display: none !important;
			}

			.NavContainer {
				background-image: none !important;
				margin: 0px 0px 0px -20px !important;
			}

			.NavContainer br {
				display: none;
			}

			.space {
				display: none !important;
			}

			.NavMainTitle {
				display: none !important;
			}

			.NavCategory {
				text-align: left;
				font-size: 30px !important;
				color: #333;
			}

			.NavPoint {
				text-align: left;
			}

			.navigation img {
				display: none !important;
			}

			.navigation {
				font-size: 28px;
			}

			.impressum {
				color: #555;
				text-align: left;
				margin: 0px 0px 0px 30px !important;
			}

			.showRight {
				float: right;
			}

			.hiddenOnMobile {
				display: none !important;
			}

			.similarArticleWrapper {
				margin-right: 30px !important; 
				margin-left: 30px !important;
				width: auto !important;
				padding: 0px !important;
			}

			.SimHeadline {
				white-space: nowrap;
				padding: 0px 0px 0px 0px !important;
				font-size: 19px !important;
			}

			.SimInfo {
				margin-top: -10px !important;
				font-size: 16px !important;
			}

			.LPBoxLatestVideo {
				width: 98% !important;
			}

			.LpSsMobileHeadline a {
				display: none !important;
			}

			.FlickrSubTitle {
				margin: 0px 0px 0px 0px !important;
			}
			/* ----------- END OF RESPONSIVE LAYOUT DECLARATIONS ---------- */

        }

.LpSsMobileHeadline {
	display: none;
	padding: 10px 0px 10px 35px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 28px;
}

.smallHeadlineNews {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 22px;
	display: block;
	margin: 160px 0px 0px 5px;
	position: absolute;
}

.newsItem {
	margin: 5px 0px 5px 0px;
}

.newsItemWrapper {
	text-align: left;
	background-color: #EFEFEF;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: auto;
	padding: 0px 0px 0px 0px;
	box-shadow: 
		2px 2px 1px 0px rgba(0,0,0,0.2), 
		0px 0px 1px 0px rgba(0,0,0,0.2);
}

.newsImage {
	position: absolute;
	width: auto;
	margin: -195px 0px 0px -5px;
	height: auto;
	display: block;
}

.newsFeedContent {
	width: 98%;
	height: auto;
	margin: 20px 5px 0px 5px;
	padding: 190px 0px 10px 0px;
	overflow: hidden;     
	font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	line-height: 19px;
}

.whereAmI {
	display: none;
}

.mobileHead {
	display: none;
	height: 60px;
	background-color: #C14924;
	position: fixed;
	width: 100%;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 28px;
}

.resize {
	height: 200px;
	display: none;
}

.hintergrundbild {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
/* --- END OF Responsive Style Declarations --- */

.mobileSektion {
	position: relative;
	height: 60px;
	overflow: hidden;	
	display: none;
}

.sektion {
	position: relative;
	height: 300px;
	overflow: hidden;
}

.mobileText {
	display: none;	
}

.text {
	position: inherit;
	top: 10%;
	width: 1200px;
	z-index: 2;
	color: #fff;
	margin: auto auto;
}

/* Einstellungen für Hyperlinks */

.navigation {
	color: #787878 !important; 
	text-decoration:none
	-webkit-transition: color .4s ease-in;
	-moz-transition: color .4s ease-in;
	-o-transition: color .4s ease-in;
	-ms-transition: color .4s ease-in;
	transition: color .4s ease-in;
}

.navigation:hover {
	color:#C40000 !important;
	text-decoration:none
}

a:link{color:#C14924; text-decoration:none}
a:visited{color:#C14924; text-decoration:none}
a:hover{color:#b5b5b5; text-decoration:none}
a:active{color:#b5b5b5; text-decoration:none}


/* Linkes Menü, auch mobil bedienbar, Gestaltung und Konfiguration mit folgenden CSS-Deklarationen */

div.pageContainer {
	width: 100%;
	vertical-align: top;
	min-height: 100%;
	height: 100%;
	margin: 0px;
}

div.menue {
	width: 250px;
	vertical-align: top;
	background-color: #fff;
	float: left;
	color: #000;
	height: 100%;
	display: block;
	bottom: auto;
	box-shadow: 
		2px 2px 1px 0px rgba(0,0,0,0.1), 
		0px 0px 1px 0px rgba(0,0,0,0.1);
}

div.right {
	width: 250px !important;
	margin: 20px 0px 0px 890px !important;
	text-align: left; 
}

div.NavContainer {
	background-color: #fff;
	margin: 0px 0px 0px 0px;
	padding-top: 10px;
	height: auto;
	background: url('../images/bg_material.png');
    background-size: 300px 55px;
    background-repeat: no-repeat;
}

div.NavContainerMobile {
	background-color: #fff;
	margin: 10px 0px 0px 0px;
	height: 820px;
}

div.impressum {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 8px 0px 0px 20px;
}

div.content {
	width: 600px;
	margin: 0px 0px 20px 20px;
	float: left;
	background-color: #fff !important;
	z-index: 0;
	box-shadow: 
		2px 2px 1px 0px rgba(0,0,0,0.1), 
		0px 0px 1px 0px rgba(0,0,0,0.1);
    background: url('../images/bg_material.png');
    background-size: 600px 55px;
    background-repeat: no-repeat;}

.forumContent {
	width: 870px;
	margin: 0px 0px 20px 20px;
	float: left;
	background-color: #fff;
	box-shadow: 
		2px 2px 1px 0px rgba(0,0,0,0.1), 
		0px 0px 1px 0px rgba(0,0,0,0.1);
}

div.headerWrapper {
	width: 1200px;
	margin: auto auto;
	text-align: left;
}

div.contentWrapper {
	margin: auto auto;
	width: 1200px;
}

div.contentBox {
	background-color: #fff !important;
	box-shadow: 
		2px 2px 1px 0px rgba(0,0,0,0.1), 
		0px 0px 1px 0px rgba(0,0,0,0.1);
	background: url('../images/bg_material.png');
    background-size: 600px 55px;
    background-repeat: no-repeat;}	
}

span.more {
	text-align: center;
	width: 100%;
	display: inline-block;
}

div.rightText {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font size: 9px;
	margin: 5px 20px 10px 20px;
	display: block;
}

div.newsTitle {
	margin: 20px 0px 10px 50px;
	border-left: 3px solid #9E0000;
	text-indent: 10px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 20px;
}

/* Styles für die Video Wiedergabeseite */

div.LPLargeHeadline {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 26px;
	margin: 30px 5px 0px 15px;
}

.back {
	float: left;
	margin: 6px 10px 10px 10px;
}

div.LPDescription {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 0px 15px 0px 15px;
	text-align: justify;
}
/* Styles für die Screenshotsektion der Seite (nicht das Widget!) */

.ScreenshotContent {
	text-align: justify;
	font-family: 'Roboto'sl, Arial, Helvetica, sans-serif;	
	width: 520px;
	margin: auto auto;
	font-size: 14px;
	line-height: 18px;
	position: relative;	
}

.disclaimerBottomRight {
	position: absolute;
	text-align: right;
	font-size: 12px;
	color: #888;
	font-family: Arial, Helvetica, sans-serif;
	width: 520px;
}

.FlickrSubTitle {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	margin: 15px 0px 15px 0px;
}

.FlickrImage {
	float: left;
	margin: 0px;
	width: 258px;
	height: 145px;
	display: block;
	position: relative;
	transition:transform 0.25s ease;
}

.FlickrImage:hover {
	z-index: 100;
	-webkit-transform:scale(2.5);
    transform:scale(2.5);
}

.ScreenshotsIcon {
	position: absolute;
	width: 60px;
	height: 60px;
	margin: 20px 0px 0px 400px;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	box-shadow: 
		0px 1px 3px 0px rgba(0,0,0,0.2), 
		0px 1px 3px 0px rgba(0,0,0,0.2);	
}

.FlickrSubText {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	clear: both;
	padding: 20px 0px 0px 0px;
}

.imageWrapper {
	margin: 1px 1px 1px 1px;
	width: 258px;
	float: left;
	position: relative;
}

.ImageInfo {
    background-color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 32px;
    overflow: hidden;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
}

.ImageInfoText {
	line-height: 14px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 0px 0px 5px;
	vertical-align: middle;
	position: absolute;
}

.imageWrapper:hover .ImageInfo {
	height: 32px;
}

/* Styles für den Let's Play Bereich der Homepage (nicht das Widget!) */

div.cropThumb {
	overflow: hidden;
	width: 200px;
	height: 113px;
    float: left;	
}

img.thumbnail {
    width: 200px;
    height: 151px;
    margin: -19px 0px 0px 0px;
}

div.LPBoxLatestVideo {
	float: left;
	text-align: left;
	background-color: #EFEFEF;
	margin: 0px 3px 15px 3px;
	width: 520px;
	height: 113px;
	padding: 0px;
	box-shadow: 
		2px 2px 1px 0px rgba(0,0,0,0.2), 
		0px 0px 1px 0px rgba(0,0,0,0.2);	
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.LPBox {
	float: left;
	overflow: hidden;
	text-align: left;
	background-color: #EFEFEF;
	margin: 0px 3px 15px 3px;
	width: 157px;
	height: 270px;
	padding: 5px;
	box-shadow: 
		2px 2px 1px 0px rgba(0,0,0,0.2), 
		0px 0px 1px 0px rgba(0,0,0,0.2);	
}


div.LPBoxEmpty {
	float: left;
	text-align: left;
	margin: 0px 3px 15px 3px;
	width: 157px;
	height: 270px;
	padding: 5px;
}


div.LPSubHeadline {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 20px;
	display: block;
	margin: 20px 0px 10px 10px;	
}

img.LetsPlayThumb {
	width: 167px;
	margin: -5px -5px 10px -5px;
	float: left;
}

span.LPHeadline {
	font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
	font-size: 16px;
	margin-left: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	width: 155px;
}

span.LPContent {
	font-size: 16px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

span.SPContent {
	font-size: 16px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

div.LPContentLatestVideo {
	font-size: 14px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0px 10px 0px 0px;
	margin: -16px 0px 0px 0px;
	height: 90px;
	text-align: justify;
	line-height: 18px;
}

iframe.embed {
	margin, padding: 0px 0px 0px 0px;
	float: left;
}

span.LPDate {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #787878;
}

span.SPDate {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #787878;
}

.smallHeadline {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 20px;
	display: block;
	margin: 20px 0px 10px 10px;
}

span.NavCategory {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 20px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #d3d3d3;	
	width: 85%;
	display: inline-block;
	margin: 10px 0px 0px 20px;
}

span.RightHeadline {
	text-align: left;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 26px;
	color: #fff;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #d3d3d3;	
	width: 85%;
	display: inline-block;
	margin: 10px 0px 0px 20px;
}

.navigation {
	margin: 0px 0px 0px 30px;
}

a:hover img.top{
    opacity:0;
}

.NavPoint {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin: 4px 0px auto 25px;
	border-bottom: solid 1px #e3e3e3;
	width: 80%;
	height: 32px;
	position:relative;
	display: block;
}

.NavPoint img {
	position:absolute;
    margin: 5px 0px 0px -30px;
    opacity: 1;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;    
    transition: opacity .4s ease-in-out;
}

.NavPoint img.top:hover {
    opacity:0;
}

span.title {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 103px;
	margin: 20px;
	text-shadow: #000 0px 0px 15px;
}

span.subtitle {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 29px;	
	margin: 20px;
	text-shadow: #000 0px 0px 15px;
}

span.NavTitle {
	text-align: left;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 26px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #d3d3d3;	
	width: 85%;
	display: inline-block;
	margin: 0px 0px 30px 20px;
}

span.date {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 13px;
}

img.left {
	float: left;
}

img.logo {
	margin: 35px;
	float: left;
}

img.inlineImageL {
	float: left;
	clear: both;
	margin: 3px 6px 6px 0px;
	box-shadow: 
		3px 3px 2px 0px rgba(0,0,0,0.1), 
		0px 0px 2px 0px rgba(0,0,0,0.1);	
}

/* Folgende CSS-Deklarationen dienen zum gestalten der von Tumblr inkludierten News bzw. Blog Posts */

div.PostTitle {
	text-align: left;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 26px;
	width: 520px;
	color: #fff;
	margin: 10px auto;
	padding-bottom: 3px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #d3d3d3;	
}

div.PostDate {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	width: 520px;
	margin: auto auto;
	font-size: 12px;
}

div.PostPost {
	text-align: justify;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;	
	width: 520px;
	margin: auto auto;
	font-size: 14px;
	line-height: 18px;
	padding: 30px 0px 0px 0px;
}

/* Deklarationen zur Darstellung der Memberliste auf der Homepage, tabellarische Form */

table.memberlist {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;		
	width: 85%;
	border-spacing: 0px;
	font-size: 13px;
	text-align: left;
	margin: auto auto;
}

span.number {
	text-align: center;
	width: 100%;
	display: inline-block;
}

span.inactive {
	color: #cc1100;
}

td.normal {
	border-bottom-style: solid; 
	border-bottom-width: thin;
	border-bottom-color: #DDDDDD;
	padding: 2px;
}

td.bottom {
	border-bottom-style: solid; 
	border-bottom-width: thin;
	border-bottom-color: #777777;
	padding: 2px;
}

/* STYLEDEFINITIONEN FÜR DEN KALENDER (NICHT DAS WIDGET) */

span.month {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 35px;	
	margin: 0px 0px 0px 70px;
}

table.calendar {
	font-family: 'Roboto'sl, Arial, Helvetica, sans-serif;		
	width: 90%;
	border-spacing: 1px;
	font-size: 13px;
	text-align: left;
	margin: 20px auto 40px auto;
}

td.wday {
	width: 14%;
	height: 40px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #b8b8b8;
	text-indent: 10px;
}

td.PreMonDay {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #b4b4b4;
	height: 70px;
	vertical-align: top;
	background-color: #e4e4e4;
	border-top: solid 5px #CECECE;
}

td.StandDay {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #000;
	height: 70px;
	vertical-align: top;
	background-color: #D8D8D8;
	border-top: solid 5px #C1C1C1;
}

td.ActDay {	
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #9E0000;
	height: 70px;
	vertical-align: top;
	border-top: solid 5px #9E0000;
	background-color: #fff;
}

/* Styles für die 404 Error Seite. Im optimalfall wird diese nie dem User gezeigt */

div.Error404 {
	/*background-image: url('../images/error404.png');*/
	background-repeat: no-repeat;
	background-position: top right;
	width: 100%;
}

div.HttpError404Headline {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 65px;
	margin: 30px 0px 0px 40px;
	padding-top: 30px;
}

div.HttpError404SubHeadline {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 35px;
	margin: 30px 0px 0px 40px;
}

div.HttpError404Helper {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 15px;	
	width: 520px;
	margin: 30px auto 0px auto;
	text-align: justify;
}

/* Styledefinitionen für das News Formular zum schreiben neuer News */

input.NewsTitle {
	margin-left: 10px; 
	width: 93%;
	padding: 8px;
}

span.mandatory {
	color: #ff0000;
}

textarea.NewsContent {
	margin-left: 10px; 
	width: 93%;
	height: 250px;
	padding: 8px;
}

input.NewsAuthor {
	margin-left: 10px; 
	width: 250px;
	padding: 8px;	
}

select.NewsGame {
	margin-left: 10px; 
	width: 220px;
	padding: 8px;	
}

input.NewsSubmit {
	margin: auto auto; 
	width: 250px;
	padding: 8px;
}

div.NewsSubmit {
	width: 100%; 
	text-align: center; 
	display: block; 
	height: 30px; 
	margin: 20px 0px 40px 0px; 
	float: left
}

option.seperator { 
	border-bottom: 1px dotted #000; 
	width: 100%;
}

/* Styles für die Social Media Wendeicons (Widget rechtsseitig) */

div.icons {
	width: 100%;
	height: 65px;
	bottom: 0px;
	text-align: center;
	margin: auto auto;
}

.card-container {
	height: 32px;
	-webkit-perspective: 600;
	-moz-perspective: 600;
	-ms-perspective: 600;
	-o-perspective: 600;
	perspective: 600;
	margin: auto auto;
	width: 52px;
	float: left;
	padding: 0px;
}

.card {
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	width: 100%;
}
.card:hover {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

.card .side {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	height: 100%;
	position: absolute;
	width: 100%;
	margin: 0px 0px 0px 0px;
}
.card .back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	margin: 0px 0px 0px 0px;
}

/* ####################### Mobile Menue & Sidebar ########################### */
.mobileMenu{
	width: 48%;
	overflow: auto;
	z-index: 10;
	float: left;
}

.mobileSidebar {
	width: 48%;
	overflow: auto;
	z-index: 10;	
	float: right;
	text-align: right;
}

.mobileMenu label{
	z-index: 20;
	display: block;
	height: 60px;
	width: 150px;
	cursor: pointer;
}

.mobileSidebar label{
	z-index: 20;
	display: block;
	height: 60px;
	width: 150px;
	cursor: pointer;
	float: right;
}


.mobileMenu input{
	display: none;
	z-index: 10;
}

.mobileSidebar input{
	display: none;
	z-index: 10;
}

.mobileMenu article{
	background-color: #fff;
	overflow: hidden;
	height: 0px;
	z-index: 10;
}

.mobileSidebar article{
	background-color: #dbdbdb;
	overflow: hidden;
	height: 0px;
	z-index: 10;
	width: 370px;
	float: right;
	right: 0px;
	position: absolute;
}

article {
	color: #000;
}

.mobileMenu input:checked ~ article.mobileSidebarContainer{
	position: fixed;
	height: auto;
	padding: 0px;
	color: #000;
	overflow: auto;
	text-align: left;
	z-index: 5;
	width: 600px;
}

.mobileSidebar input:checked ~ article.mobileSidebarContainer{
	position: fixed;
	height: auto;
	margin: 60px 0px 0px 0px;
	color: #000;
	overflow: auto;
	text-align: left;
	z-index: 5;
}

.mobileMenu input:checked ~ article.mobileMenuContainer{
	position: fixed;
	height: auto;
	margin: 0px;
	padding: 0px;
	color: #000;
	overflow: auto;
	text-align: left;
	width: 300px;
	padding-right: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5;
    -webkit-box-shadow: 10px 0 5px -2px #000;
            box-shadow: 10px 0 5px -2px #000;
}

.mobileSidebar input:checked ~ article.mobileMenuContainer{
	position: fixed;
	height: auto;
	margin: 0px;
	padding: 0px;
	color: #000;
	overflow: auto;
	text-align: left;
	z-index: 5;
	box-shadow: 
		5px 5px 5px 5px rgba(0,0,0,0.3), 
		8px 6px 6px rgba(0,0,0,0.1);
}

#mobiMenu input:checked ~ article.mobileMenuContainer{
	margin: -10px 0px -60px 0px;
}

#mobiSidebar {
	width: 290px;
}

.hr {
	width: 98%;
	height: 1px;
	border-bottom: 1px solid #D3D3D3;
	margin: 0px 0px -20px 0px;
}

.tag {
	font-size: 18px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0px 5px 0px 10px;
}

.NewsTitleWithTag {
	margin-left: 10px; 
	width: 37%;
	padding: 8px;
}

.InputAge {
	width: 100px;
	margin-left: 10px; 
	padding: 8px;
}

.DefaultFormCheckbox {
	margin: 0px 0px 0px 10px;
}

.maniaDescription {
	margin: 5px 5px 0px 5px;
	padding: 0px 0px 5px 0px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: justify;
}

table.mania2011 {
	width: 100%;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.maniaHoFTop {
	vertical-align: top; 
	border-top: 2px solid #bbb;
	padding: 5px 0px 5px 0px;
}

.maniaHoFDefault {
	vertical-align: top; 
	border-top: 1px solid #ccc;
	padding: 5px 0px 5px 0px;	
}

.space50px {
	width: 50px;
}

.right {
	text-align: right;
	padding: 0px 10px 0px 0px;
	vertical-align: middle;
}

/* Mania Abschlusstabellenformatierung ab 2013 */

.winner {
	background-color: #e9e9e9;
}

.positive {
	color: #38bc00;
	vertical-align: middle;
}

.negative {
	color: #ff0000;
	vertical-align: middle;	
}

.bold {
	font-weight: bold;
	vertical-align: middle;
}

.largeText {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 26px;
	line-height: 30px;
	margin: 20px 0px 20px 0px;
}

/* Styles für die Newsseite, deren Inhalt aus der Datenbank kommt */

.SqlNewsBox {
	background-color: #EFEFEF;
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2), 
				0px 0px 1px 0px rgba(0,0,0,0.2);	
	width: 520px;
	height: 150px;
	margin: 0px 0px 15px 0px;
}

.SqlNewsThumbnail {
	position: absolute;
	border: none;
}

.SqlNewsHeadline {
	padding: 3px 0px 0px 155px;
	width: 360px;
	font-size: 16px;
	display: block;
	line-height: 18px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.SqlNewsDate {
	padding: 3px 0px 0px 155px;
	width: 365px;	
	font-size: 11px;
	color: #979797;
	display: block;
}

.SqlNewsSnippet {
	display: block;
	overflow: hidden;
	height: 75px;
	font-size: 14px;
	color: #757575;
	padding: 0px 5px 0px 155px;
	border-bottom: 1px solid #ddd;
}

.SqlNewsSnippet a {
	display: none;
}

.SqlNewsReadMore {
	display: inline;
	position: absolute;
	font-size: 14px;
	color: #979797;
	margin: 0px 0px 0px 155px;	
	padding: 7px 0px 0px 0px;
	text-align: left;
}

.SqlNewsStats {
	display: inline;
	position: absolute;
	font-size: 14px;
	color: #979797;
	margin: 8px 0px 0px 155px;	
	padding: 0px 0px 0px 0px;
	text-align: right;
	height: 16px;
}

.SqlArticleHeadImage {
	margin: 0px 0px 0px 0px;
}

.SqlArticleBack {
	float: left;
	margin: 5px 10px 0px 5px;
	border: none;
}

.SqlArticleBack:hover {
	background-color: #ccc;
}

.SqlArticleHeadline {
	font-size: 26px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	text-align: left;
	margin-left: 5px;
	display: block;
	margin: 0px 0px 0px 40px;
}

.SqlArticleDate {
	position: absolute;
	display: block;
	padding: 5px;
	font-size: 14px;
	color: #fff;
	background-color: #bf360c;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	margin: 210px 0px 0px 0px;
}

.SqlArticleGame {
	position: absolute;
	text-align: right;
	display: block;
	padding: 0px 10px 3px 10px;
	font-size: 34px;
	color: #fff;
	background-color: #bf360c;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	margin: 150px 0px 0px 0px;
}

.SqlArticleContent {
	display: block;
	font-size: 14px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	text-align: justify;
	margin: 10px 40px 0px 40px;
}

.SqlArticleContent iframe {
	margin: 20px 0px 0px 0px;
}

.AddNews {
	position: absolute;
	font-size: 46px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: center;
	display: block;
	background-color: #5677fc;
	width: 50px;
	height: 50px;
	margin: -30px 0px 0px 530px;
    border-radius: 50%;
    -webkit-transition: background-color .35s ease-in;
	-moz-transition: background-color .35s ease-in;
	-o-transition: background-color .35s ease-in;
	-ms-transition: background-color .35s ease-in;
	transition: background-color .35s ease-in;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	box-shadow: 
		0px 1px 3px 0px rgba(0,0,0,0.2), 
		0px 1px 3px 0px rgba(0,0,0,0.2);	
}

.AddNews a {
	position: absolute;
	margin: -2px 0px 0px -13px;
	color: #fff;
}

.AddNews:hover {
	background-color: #738ffe;
}

.AddNews:hover a {
	color: #fff;
}

.smallInline {
	font-size: 12px;
	width: 500px;
	padding: 6px 0px 0px 0px;
}

/* Archiv Styles */

select.ArchiveYear {
	margin-left: 0px; 
	width: 100px;
	padding: 8px;	
}

select.ArchiveMonth {
	margin-left: 10px; 
	width: 280px;
	padding: 8px;	
}

.ArchiveSubmit {
	margin-left: 10px; 
	width: 110px;
	padding: 8px;
}

.bugtracker {
	float: left;
	width: 250px;
	margin: 850px 0px 0px -250px;
	padding: 8px 0px 8px 0px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	background-color: #fff;
	box-shadow: 
		2px 2px 1px 0px rgba(0,0,0,0.1), 
		0px 0px 1px 0px rgba(0,0,0,0.1);	
}

#textarea_feedback {
	margin: 0px 0px 0px 10px;
}

.ScreenshotHeadline {
	width: 150px;
	white-space: nowrap;
	font-family: 'Roboto', Arial, Hevetica, sans-serif;
	font-size: 16px;
	margin: 165px 0px 0px 0px;
}

.widgetLetsPlaySubHeadline {
	overflow: hidden;
	white-space: nowrap;
	width: 225px;
}

.hidden {
	display: none;
	width: 1px;
	height: 1px;
}

.required {
	background-color: #fde0dc;
	border: 1px solid #999;
}

.ju_disc {
	padding: 8px;
}

.backL {
	float: left; 
	margin: -6px 15px 0px -30px;
}

.backL:hover {
	background-color: #5677fc;
}

.lpBackS:hover {
	background-color: #ccc;
}

.checkbox {
	margin: 0px 0px 0px 20px;
}

.disabled {
	color: #ccc;
}

.SocialMediaSnippet {
	margin-left: 10px; 
	width: 93%;
	height: 50px;
	padding: 8px;
	resize: none;	
}

.feedback {
	margin: 0px 0px 0px 10px;
}

.NavMainTitle {
	text-align: left;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 26px;
	color: #fff;
	margin: 10px 0px 0px 20px;
}

.watchmore {
	position: absolute;
	color: #fff;
	font-size: 50px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-align: center;
	display: block;
	background-color: #5677fc;
    border-radius: 50%;
   	width: 40px;
	height: 40px;
	margin: -12px 0px 0px 200px;
    -webkit-transition: background-color .35s ease-in;
	-moz-transition: background-color .35s ease-in;
	-o-transition: background-color .35s ease-in;
	-ms-transition: background-color .35s ease-in;
	transition: background-color .35s ease-in;	
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
   	box-shadow: 
		0px 1px 3px 0px rgba(0,0,0,0.2), 
		0px 1px 3px 0px rgba(0,0,0,0.2);	
}

.watchmore a {
	position: absolute;
	margin: -20px 0px 0px -9px;
	color: #fff;
}

.watchmore:hover {
	background-color: #738ffe;
}

.watchmore:hover a {
	color: #fff;
}

a.tooltips {

}
a.tooltips span {
	position: absolute;
	width: 140px;
	color: #444;
	background: #fff;
	height: 30px;
	line-height: 30px;
	text-align: center;
	visibility: hidden;
	border-radius: 0px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	box-shadow: 
		2px 2px 1px 0px rgba(0,0,0,0.2), 
		0px 0px 1px 0px rgba(0,0,0,0.2);
	opacity: 0;
	transition: opacity .35s ease-in-out;
	-moz-transition: opacity .35s ease-in-out;
	-webkit-transition: opacity .35s ease-in-out;

}
a.tooltips span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0; height: 0;
	border-top: 8px solid #fff;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
a:hover.tooltips span {
	visibility: visible;
	opacity: 1;
	bottom: 65px;
	left: 50%;
	margin: 0px 0px 0px -71px;
	z-index: 999;
}

#slidemenu {
    height: 100%;
    position: fixed;
    background: #fff;
    width: 300px;
    left: -320px;
    top: 60px;
    overflow: scroll;
	box-shadow: 
		2px 2px 20px 0px rgba(0,0,0,0.4), 
		0px 0px 1px 0px rgba(0,0,0,0.4);   
}

#slideright {
    height: 100%;
    position: fixed;
    background: #C14924;
    width: 300px;
    right: -300px;
    top: 60px;
    overflow: scroll;
    z-index: 50;  
}

.similarArticleWrapper {
	background-color: #EFEFEF;
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2), 
				0px 0px 1px 0px rgba(0,0,0,0.2);	
	width: 520px;
	height: 59px;
	margin: 0px 0px 15px 0px;	
}

.SimHeadline {
	font-size: 18px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 5px 0px 0px 0px;
}

.SimInfo {
	font-size: 12px;
	display: block;
	padding: 5px 0px 10px 0px;
	color: #666;
}

.SimThumb {
	width: 60px;
	height: 60px;
	float: left;
	margin: -1px 10px 0px -1px;
}

.hiddenOnMobile {
	display: inline;
}

.mobileScreen {
	width: 230px;
	margin: 0px 0px 0px -12px;
}

.clear {
	clear:both;
}

.JoinUs {
	position: absolute;
	font-size: 46px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: center;
	display: block;
	background-color: #5677fc;
	width: 50px;
	height: 50px;
	margin: -18px 0px 0px 490px;
    border-radius: 50%;
    -webkit-transition: background-color .35s ease-in;
	-moz-transition: background-color .35s ease-in;
	-o-transition: background-color .35s ease-in;
	-ms-transition: background-color .35s ease-in;
	transition: background-color .35s ease-in;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	box-shadow: 
		0px 1px 3px 0px rgba(0,0,0,0.2), 
		0px 1px 3px 0px rgba(0,0,0,0.2);	
}

.JoinUs a {
	position: absolute;
	margin: -2px 0px 0px -13px;
	color: #fff;
}

.JoinUs:hover {
	background-color: #738ffe;
}

.JoinUs:hover a {
	color: #fff;
}

.ManiaHeadline {
	position: absolute;
	margin: 5px 0px 0px -155px;
	display: inline-block;
	font-size: 16px;
}

.maniaBtt {
	font-size: 16px;
	padding: 0px 0px 0px 0px;
}

.ManiaInlineImage {
	float: left;
	margin: 0px 10px 0px -10px;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	box-shadow: 
		0px 1px 3px 0px rgba(0,0,0,0.2), 
		0px 1px 3px 0px rgba(0,0,0,0.2);
    border-radius: 50%;
}

.ManiaIcon {
	position: relative;
    border-radius: 50%;
    margin: -30px 0px 0px 110px;
}

.ManiaBox {
	float: left;
	overflow: hidden;
	text-align: left;
	background-color: #EFEFEF;
	margin: 0px 3px 15px 3px;
	width: 166px;
	height: 108px;
	padding: 0px;
	box-shadow: 
		2px 2px 1px 0px rgba(0,0,0,0.2), 
		0px 0px 1px 0px rgba(0,0,0,0.2);		
}

.middle {
	vertical-align: middle;
}

.center {
	text-align: center;
}

.grey {
	color: #bbb;
}

.smallText {
	font-size: 12px;
}

.online {
	background-color: #72d572;
	padding: 8px;
	border-radius: 2px;
	color: #0d5302;
}

.offline {
	background-color: #ff8a65;
	padding: 8px;
	border-radius: 2px;
	color: #dd2c00;
}

.MaterialBtn {
	padding: 10px;
	background-color: #f4511e;
	box-shadow: 
		2px 2px 1px 0px rgba(0,0,0,0.2), 
		0px 0px 1px 0px rgba(0,0,0,0.2);	
}

.MaterialBtn a {
	color: #ffccbc;
}

.MaterialBtn:hover {
	background-color: #bf360c;
}

.MaterialBtn a:hover {
	color: #fff;
}

/* CONFIGURATION OF THE TEAMSPEAK 3 VIEWER BELOW THIS LINE */

.tsstatusServerName {
	font-size: 11px;	
}

.tsstatusLabel {
	display: inline;
	margin: 0px 0px 0px 15px;
	font-size: 11px;
}

.tsstatusItem div {
	margin: 0px 0px 0px 15px;
	font-size: 11px;
}

.tsstatusUser {
	margin: 0px 0px 0px 15px;	
	font-size: 11px;
}

.tsstatusFlags {
	display: inline;
}

.tsstatusFlags img {
	float: right;
}

/* HAMBURGER MENÜ IM MATERIAL DESIGN STYLE */
.wrapper {
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;  
  margin: 0em 0;
  padding: 0;
  width: 60px;
  float: left;
}

.menu {
  font-size:2em;
  font-family: 'Roboto', sans-serif;
  color: #333;
  height: 100%;
}

.menu div {
  margin: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

.menu a {
  text-decoration: none;
  color: #3367d6;
}

.menu a:hover {
  text-decoration: underline;
}

.menu div:last-child {
  border: 0;
}

.menu--off {
  position: absolute;
  left: -300px;
  width: 300px;
  display: block;
  overflow: scroll;
  background: #eee;
  min-height: 600px;
  height: 125%;
  margin-top: 10px;
  -webkit-transition: all 300ms;
          transition: all 300ms;
}

.menu--on {
  left: 0;
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms;
          transition: all 300ms;
}

.material-design-hamburger {
	height: 50px;
}

.material-design-hamburger button {
  display: block;
  border: none;
  background: none;
  outline: 0;
  width: 60px;
  height: 50px;
}

.material-design-hamburger__icon {
  padding: 10px 0px 0px 10px;
  cursor: pointer;
}

.material-design-hamburger__layer {
  display: block;
  width: 35px;
  height: 4px;
  background: #fff;
  position: relative;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before, .material-design-hamburger__layer:after {
  display: block;
  width: inherit;
  height: 4px;
  position: absolute;
  background: inherit;
  left: 0;
  content: '';
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before {
  bottom: 200%;
}

.material-design-hamburger__layer:after {
  top: 200%;
}

.material-design-hamburger__icon--to-arrow {
  -webkit-animation-name: material-design-hamburger__icon--slide;
          animation-name: material-design-hamburger__icon--slide;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:before {
  -webkit-animation-name: material-design-hamburger__icon--slide-before;
          animation-name: material-design-hamburger__icon--slide-before;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:after {
  -webkit-animation-name: material-design-hamburger__icon--slide-after;
          animation-name: material-design-hamburger__icon--slide-after;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.material-design-hamburger__icon--from-arrow {
  -webkit-animation-name: material-design-hamburger__icon--slide-from;
          animation-name: material-design-hamburger__icon--slide-from;
}

.material-design-hamburger__icon--from-arrow:before {
  -webkit-animation-name: material-design-hamburger__icon--slide-before-from;
          animation-name: material-design-hamburger__icon--slide-before-from;
}

.material-design-hamburger__icon--from-arrow:after {
  -webkit-animation-name: material-design-hamburger__icon--slide-after-from;
          animation-name: material-design-hamburger__icon--slide-after-from;
}

@-webkit-keyframes material-design-hamburger__icon--slide {
  0% {
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes material-design-hamburger__icon--slide {
  0% {
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes material-design-hamburger__icon--slide-before {
  0% {
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 80%;
  }
}

@keyframes material-design-hamburger__icon--slide-before {
  0% {
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 80%;
  }
}

@-webkit-keyframes material-design-hamburger__icon--slide-after {
  0% {
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 3% 37%;
    width: 80%;
  }
}

@keyframes material-design-hamburger__icon--slide-after {
  0% {
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 3% 37%;
    width: 80%;
  }
}

@-webkit-keyframes material-design-hamburger__icon--slide-from {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
  }
}

@keyframes material-design-hamburger__icon--slide-from {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
  }
}

@-webkit-keyframes material-design-hamburger__icon--slide-before-from {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 80%;
  }
  100% {
  }
}

@keyframes material-design-hamburger__icon--slide-before-from {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 80%;
  }
  100% {
  }
}

@-webkit-keyframes material-design-hamburger__icon--slide-after-from {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 3% 37%;
    width: 80%;
  }
  100% {
  }
}

@keyframes material-design-hamburger__icon--slide-after-from {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 3% 37%;
    width: 80%;
  }
  100% {
  }
}