#userAvatar {
	display: block !important;
	position: absolute !important;

}

a {	color: #A5A5A5 !important; text-decoration: none}
a:hover {color: #D3655B !important; text-decoration: underline}

#boardLink1, #boardLink7, #boardLink17, #boardLink23, #boardLink27, #boardLink37, #boardLink38, #boardLink42, #boardLink66 {
	color: #fff !important;
}

#userPanel {
	width: 98%;
	margin: 10px 0px 0px 10px;
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2),
	 			0px 0px 1px 0px rgba(0,0,0,0.2);
}

#userAvatar img {
	max-width: 100px;
	max-height: 100px;
}

body {
    width: auto;
    height: 100%;
}

#tplIndex {
	width: 100%;
}

#logo {
	border: none;
	display: none;
}

#headerContainer {
	width: 100%;
}

#userPanelInner {
	width: 100%;
}

.headerContainer {
	width: 100%;
	border-width: 0px 0px 0px 0px !important;
}
.mainMenuInner {
	width: 100%;
	border-width: 0px 0px 0px 0px !important;
	margin: 20px 0px 0px 0px;
}
.userPanel {
	float: left;
	margin: auto auto;
	background: #EFEFEF;
	height: 100px;
}
#header {
	border: none;
	margin: 5px;
	height: 0px;
	width: 95%;
}
#userNote {
	font-size: 22px;
	padding-left: 110px;
	width: 600px;
	display: block;
font-weight: thin;
}

#userNote a {
text-decoration: none;
color: #cc1100!important;
}

#userMenu {
	width: 98%;
	padding: 10px 0px 0px 110px;
}
#userMenuModeration {
	display: none;
}
#userMenuACP {
	width: auto;
	min-width: 0px;
	font-size: 16px;
	padding: 0px 5px 0px 0px;
}
#userMenuLogout {
	width: auto;
	min-width: 0px;
	font-size: 16px;
	padding: 0px 5px 0px 0px;
}
#userMenuProfileEdit {
	width: auto;
	min-width: 0px;
	font-size: 16px;
	padding: 0px 5px 0px 0px;
}
#userMenuPm {
	width: auto;
	min-width: 0px;
	font-size: 16px;
	padding: 0px 5px 0px 0px;
}
#userMenuSubscriptions {
	width: auto;
	min-width: 0px;
	font-size: 16px;
	padding: 0px 5px 0px 0px;
}
#search {
	position: absolute;
	margin: -115px -20px 0px 0px;
}

#mainMenu {
	margin: 20px 0px 0px 10px;
	padding: 5px 0px 5px 0px;
	width: 98%;
	border-width: 0px 0px 0px 0px !important;
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2),
	 			0px 0px 1px 0px rgba(0,0,0,0.2);
	background: #EFEFEF;
}

.mainMenu a {
	border: none !important;
	color: #363636;
}

.mainMenu .active a, .mainMenu .firstActive a, .mainMenu .lastActive a {
	color: #363636;
}

.mainMenu a:hover {
	color: #cc1100;
}

a:hover {
	color: #cc1100;
	text-decoration: none;
}

#mainContainer {
	width: 100%;
}

#main {
	width: 98%;
}

.mainHeadline img {
	height: 24px;
	width: 24px;
}

.border {
	border: 0px;
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2),
	 			0px 0px 1px 0px rgba(0,0,0,0.2);
	background: #EFEFEF;
	padding: 0px 0px 0px 0px;
}

.containerHead {
	background-color: #C14924;
	background-image: none;
	margin: -1px 0px 0px -1px;
}

.container-1 {
	background-color: #efefef;
}

.boardlistLastPost {
	min-height: 37px;
	height: auto;
	width: 300px;
}

.boardlistStats {
	min-height: 37px;
	height: auto;
}

.boardlistTitle {
	min-height: 37px;
	height: auto;
	width: 374px;
}

#boardlist li ul .boardlistTitle .containerIcon {
	margin: 0px 0px 0px 0px;
}

.category {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 10px 0px;
}

#footerContainer {
	display: none;
}

.largeButtons li a, .pmEditFolders a {
	background-image: none;
	background-color: #5677fc;
	border: none;
	color: #fff;
	padding: 4px;
    box-shadow:
        2px 2px 1px 0px rgba(0,0,0,0.2),
        0px 0px 1px 0px rgba(0,0,0,0.2);
	-webkit-transition: background-color .35s ease-in;
	-moz-transition: background-color .35s ease-in;
	-o-transition: background-color .35s ease-in;
	-ms-transition: background-color .35s ease-in;
	transition: background-color .35s ease-in;
	border-radius: 3px;
}

.largeButtons li a:hover, .pmEditFolders a:hover {
    background-color: #738ffe !important;
	background-image: none;
	color: #fff;
}

.mainHeadline {
	min-height: 30px !important;
}

.headlineContainer p {
	display: none;
}

.memberList li .memberName, .messageNumber, .optionButtons a, .smallButtons a, li.extraButton a {
	background-color: #5677fc;
	background-image: none;
	color: #fff !important;
	border: none;
	padding: 4px;
    box-shadow:
        2px 2px 1px 0px rgba(0,0,0,0.2),
        0px 0px 1px 0px rgba(0,0,0,0.2);
	-webkit-transition: background-color .35s ease-in;
	-moz-transition: background-color .35s ease-in;
	-o-transition: background-color .35s ease-in;
	-ms-transition: background-color .35s ease-in;
	transition: background-color .35s ease-in;
	border-radius: 3px;
}

.tabMenu li.activeTabMenu a {
	background-image: none !important;
	background-color: #C14924;
	color: #fff;
}

.tabMenu li a {
	background-image: none !important;
	color: #888;
}

.tabMenu li a:hover {
	color: #333;
}

.optionButtons li {
	border: none !important;
}

div.pageMenu a  {
	background-color: #C14924;
}

.postEditMarkedLinkMenu {
	background-color: #C14924;
}

.optionButtons a:hover, .smallButtons a:hover, li.extraButton a:hover {
	background-color: #738ffe !important;
	background-image: none;
	color: #fff;
}

.smallButtons li {
	border: none;
	padding: 2px;
}

.message {
	border: none !important;
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2),
	 			0px 0px 1px 0px rgba(0,0,0,0.2);
	margin-bottom: 15px;
}

.largeButtons li {
	border: none;
}

.message .dividers .messageAuthor {
	border: none !important;
}

.messageInner {
	border: none !important;
}

#logo, #search, .attachmentPreview ul li a, .border .tableList td, .border .tableList th, .columnContainer, .dividers .messageAuthor, .dividers .tocHeadline, .dividers .userAvatar, .dividers .userCredits, .dividers .userMessenger, .dividers .userSymbols, .inlineCalendarFooter td a, .inlineCalendarFooter td span, .inlineCalendarHeader td a, .inlineCalendarHeader td span, .mainMenu .mainMenuInner, .mainMenu a, .mceEditor .mceColors li, .messageContent, .messageInner, .subTabMenu div.containerHead, .tabMenu li a, .userAvatar, .userAvatarFramed {
	border-color: #EFEFEF;
}

.color-2 {
	background-color: #fff !important;
}

.tableList {
	padding: 0px;
	margin: 0px;
	border: none;
}

.tableList td {
	border: none;
}

.tableList th {
	border: none;
}

.columnTopic {
	border: none;
}

.columnMark {
	border: none;
}

.emptyHead {
	padding: none;
}

.columnRating {
	display: none;
}

#topThreadsStatus {
	margin: -8px 0px 20px -1px;
}

.quickReply {
       display: none !important;
}

@media only screen and (max-width: 869px) {

	.searchContainer {
		display: none !important;
	}

	.boardlistLastPost {
		display: none !important;
	}

	.boardlistStats {
		display: none !important;
	}

.mainMenuInner {
font-size: 18px !important;
}

.boardTitle {
font-size: 22px !important;
}

h5 {
font-size: 16px !important;
text-decoration: none;
}

.boardTitle a {
text-decoration: none;
}

.boardlistDescription {
display: none;
}

.boardlistTitle  {
width: 100% !important;
}

.containerContent {
font-size: 18px !important;
}

.columnMark {
display: none !important;
}

.columnMarkTopics {
display:none !important;
}

.columnLastPost {
display:none !important;
}

.columnTopic{
font-size: 16px !important;
}

.columnReplies {
font-size: 16px !important;
}

.columnViews{
font-size: 16px !important;
}

.messageAuthor, .userSymbols, .userCredits, .userMessenger {
display:none !important;
}

.userAvatar {
width: 45px !important;
height: 45px !important;
position: absolute !important;
margin: 0px 0px 0px 1px !important;
padding: 5px 0px 0px -5px !important;
border-style: none !important;
}

.userAvatar img {
width: 46px !important;
height: 46px !important;
position: absolute !important;
margin: -7px 0px 0px -39px !important;
}

.messageSidebar {
width: 0px !important;
}

.messageContent {
margin: 0px 0px 0px 0px !important;
}

.messageHeader {
margin: -10px -15px 0px 26px !important;
padding: 10px 0px 5px 10px !important;
background-color: #C14924 !important;
}

.containerContent, .formFieldDesc {
color: #fff !important;
}

.messageMarkCheckBox, .messageCount {
display: none !important;
}

.messageContentInner{
background-color: #EFEFEF!important;
}

.containerContent p {
color: #fff !important;
}
